@page "/register"

@using North.Data.Access

@inject ILogger _logger
@inject ISnackbar _snackbar
@inject OurDbContext _context
@inject IHttpContextAccessor _accessor
@inject NavigationManager _navigationManager

<MudCard id="register_card">
    <MudCardContent id="register_form">
        <MudStack>
            <div id="register_title">
                <font color=#7BC27A>N</font><font color=#5DB88E>o</font><font color=#3FAEA2>r</font><font color=#21A4B6>t</font><font color=#039ACA>h</font>
            </div>
            
            @if(string.IsNullOrEmpty(RegisterModel.Avatar))
            {
                <MudIconButton HtmlTag="label" for="avatar_upload"
                               Color="Color.Success" Icon="@Icons.Filled.CloudUpload"
                               Style="width:fit-content; margin:auto; min-width:50px; min-height:50px;">
                </MudIconButton>
            }
            else
            {
                <MudBadge Icon="@Icons.Filled.Clear" Color="Color.Dark" Origin="Origin.BottomRight" 
                          Overlap Bordered Style="width:fit-content; margin:auto; cursor:pointer;"
                          OnClick="ClearAvatar">
                    <MudAvatar Image="@($"api/image/avatar/{RegisterModel.Avatar}")" Style="min-width:50px; min-height:50px;"/>
                </MudBadge>
            }
            <MudTextField @bind-Value="RegisterModel.Name" Placeholder="用户名" MaxLength="16"
                          Variant="Variant.Outlined" Margin="Margin.Dense"
                          Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Person"></MudTextField>
            <MudTextField @bind-Value="RegisterModel.Email" Placeholder="邮 箱" 
                          Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="32"
                          Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Email"></MudTextField>
            <MudTextField @bind-Value="RegisterModel.Password" InputType="InputType.Password" Placeholder="密码" 
                          Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="32" Immediate
                          Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Lock"></MudTextField>
            <MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="UserRegister" Disabled="RegisterRunning">
                @if (RegisterRunning)
                {
                    <MudProgressCircular Style="width:17px; height:17px; margin-right:10px;"/>
                }
                <MudText>注 册</MudText>
            </MudButton>
        </MudStack>
    </MudCardContent>
</MudCard>
<InputFile id="avatar_upload" OnChange="UploadAvatar" accept="image/*" hidden/>


<style>
    body {
      background-image: url('images/Background.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    #register_title {
        margin-top:10px;
        font-size:35px;
        font-weight:500;
        text-align:center;
    }

    #register_card {
        width:90%;
        height:400px;
        max-width: 330px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 60px;
        right: 0;
        margin: auto;
        border-radius:5px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
        border-color: #eee;
    }

    #register_form {
        width:90%;
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        margin:auto;
    }
</style>