@page "/plugins"
@using North.Core.Helper

@inject ILogger _logger
@inject ISnackbar _snackbar

<AuthorizeView Roles="User,Administrator">
    <MudStack Spacing="10" Row AlignItems="AlignItems.Center" Class="message_warn">
        <MudImage Src="icons/warn.svg" Width="180" Elevation="0" Class="rounded-lg ma-4" />
        <MudLink Href="/" Color="Color.Warning" Style="font-weight:bold; font-size:34px;">您的权限不足，无法访问</MudLink>
    </MudStack>
</AuthorizeView>
<AuthorizeView Roles="System">
    <MudStack Spacing="5" id="page">
        <MudTextField @bind-Value="@PackageName" DebounceInterval="500" OnDebounceIntervalElapsed="@SearchPluginsAsync"
                      Variant="Variant.Text" Placeholder="请输入插件名称..." Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" id="search_field" />
        @if(PackageSearching)
        {
            <Loading Enable Style="position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;" />
        }
        else if(!Packages.Any())
        {
            <Empty />
        }
        else 
        {
            <MudGrid Justify="Justify.FlexStart" id="plugin_list">
                @foreach (var package in Packages)
                {
                    <MudItem xs="12" lg="6">
                        <MudCard Elevation="3" Outlined id="plugin_item">
                            <MudStack Row AlignItems="AlignItems.Center" Style="width:100%; height:100%; margin:0 0 10px 10px;">
                                @if (!string.IsNullOrEmpty(package.IconUrl?.AbsoluteUri))
                                {
                                    <MudAvatar Image="@package.IconUrl.AbsoluteUri" Square Style="width:60px; height:60px; background-color:white;" />
                                }
                                else
                                {
                                    <MudAvatar Image="https://api.nuget.org/v3-flatcontainer/nuget.frameworks/6.3.0/icon" Square Style="width:60px; height:60px; background-color:white;" />
                                }
                                <MudStack Style="width:100%; height:fit-content; margin-left:10px;">
                                    <a href="@($"https://www.nuget.org/packages/{package.Identity.Id}")" style="font-size:22px; font-weight:300; line-height:.9; color:#337ab7;">@package.Identity.Id</a>
                                    <MudStack Row>
                                        <MudIcon Icon="@Icons.Outlined.Group"></MudIcon>
                                        <MudText>@package.Authors.FormatString(32)</MudText>
                                        <MudIcon Icon="@Icons.Outlined.FileDownload"></MudIcon>
                                        <MudText>@package.DownloadCount?.FormatNumber()</MudText>
                                        @if(package.LicenseMetadata is not null)
                                        {
                                            <MudIcon Icon="@Icons.Outlined.Lock"></MudIcon>
                                            <a href="@package.LicenseMetadata.LicenseUrl.AbsoluteUri" style="color:black;">@package.LicenseMetadata.License</a>
                                        }
                                        <MudIcon Icon="@Icons.Outlined.Flag"></MudIcon>
                                        <MudText>@package.Identity.Version.ToFullString()</MudText>
                                    </MudStack>
                                    <MudText>@package.Description.FormatString()</MudText>
                                </MudStack>
                                <MudStack Justify="Justify.FlexEnd" Style="width:fit-content; height:100%; margin-right:20px; margin-bottom:10px;">
                                    @if(PluginSetting.Plugins.Any(plugin => plugin.Identity.Id == package.Identity.Id))
                                    {
                                        <MudIconButton Icon="@Icons.Outlined.Settings" OnClick="@(() => UnInstallPlugin(package))"></MudIconButton>
                                    }
                                    else
                                    {
                                        <MudTooltip Text="点击安装" Placement="Placement.Bottom">
                                            <MudIconButton Icon="@Icons.Filled.InstallDesktop" OnClick="@(() => InstallPlugin(package))"></MudIconButton>
                                        </MudTooltip>
                                    }
                                </MudStack>
                            </MudStack>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        }           
    </MudStack>
</AuthorizeView>

<style>
    #page {
        margin: 10px 30px;
        overflow-x: hidden;
        height:fit-content;
        max-height: calc(100% - 70px);
    }

    #page::-webkit-scrollbar {
        display: none;
    }

    #plugin_list {
        overflow: scroll;
        overflow-x: hidden;
        height:fit-content;
        max-height: calc(100% - 40px);
    }

    #plugin_list::-webkit-scrollbar {
        display: none;
    }

    #plugin_item {
        height:130px;
        border-radius:8px;
        border-width:2px;
    }

    .message_warn {
        width: fit-content;
        height: fit-content;
        left: 0;
        top: 0;
        bottom: 100px;
        right: 0;
        position: absolute;
        margin: auto;
    }
</style>