@page "/Pics"

@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json;
@using ImageBed.Data.Access
@using ImageBed.Data.Entity

@inject MessageService _message

<Space>
    <SpaceItem>
        <Search Placeholder="Search what you want..." EnterButton="true"/>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Primary" Ghost>导  入</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Primary" Ghost>导  出</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Danger Ghost>删 除</Button>
    </SpaceItem>
</Space>
<br/>
<br/>
<Table @ref="table"
       TItem="ImageEntity"
       DataSource="@images"
       @bind-PageSize="_pageSize"
>
        <Selection Key="@(context.Id?.ToString())" />
        <Column @bind-Field="@context.Name" Align="@ColumnAlign.Center" Sortable>
            <a href=@context.Url>@context.Name</a>
        </Column>
        <Column @bind-Field="@context.Dpi" Sortable Align="@ColumnAlign.Center"/>
        <Column @bind-Field="@context.Size" Sortable Align="@ColumnAlign.Center"/>
        <Column @bind-Field="@context.UploadTime" Sortable Align="@ColumnAlign.Center"/>
        <Column @bind-Field="@context.Owner" Sortable Align="@ColumnAlign.Center"/>
        <ActionColumn Align="@ColumnAlign.Center">
            <Space>
                <SpaceItem><Button Type="@ButtonType.Primary" Ghost OnClick="()=>{}">下 载</Button></SpaceItem>
                <SpaceItem><Button Danger OnClick="()=>{}">删 除</Button></SpaceItem>
            </Space>
        </ActionColumn>
</Table>

@code {
    ITable table;
    int _pageSize = 8;
    List<ImageEntity> images = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = new OurDbContext();
        using var sqlImageData = new SQLImageData(context);
        images = await sqlImageData.Get();
    }
}