@page "/Pics"

@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json;
@using ImageBed.Data.Entity

@inject MessageService _message

<Space>
    <SpaceItem>
        <Search Placeholder="Search what you want..." EnterButton="true"/>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Primary" Ghost>导  入</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Primary" Ghost>导  出</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Danger Ghost>删 除</Button>
    </SpaceItem>
</Space>
<br/>
<br/>
<Table @ref="table"
       TItem="ImageEntity"
       DataSource="@images"
       @bind-PageSize="_pageSize"
>
        <Selection Key="@(context.Id?.ToString())" />
        <Column @bind-Field="@context.Name" Align="@ColumnAlign.Center" Sortable>
            <a href=@context.Url>@context.Name</a>
        </Column>
        <Column @bind-Field="@context.Tags" Sortable Align="@ColumnAlign.Center"/>
        <Column @bind-Field="@context.Size" Sortable Align="@ColumnAlign.Center"/>
        <Column @bind-Field="@context.UploadTime" Sortable Align="@ColumnAlign.Center"/>
        <Column @bind-Field="@context.LastModifyTime" Sortable Align="@ColumnAlign.Center"/>
        <Column @bind-Field="@context.Uploader" Sortable Align="@ColumnAlign.Center"/>
        <ActionColumn Align="@ColumnAlign.Center">
            <Space>
                <SpaceItem><Button Type="@ButtonType.Primary" Ghost OnClick="()=>{}">下 载</Button></SpaceItem>
                <SpaceItem><Button Danger OnClick="()=>{}">删 除</Button></SpaceItem>
            </Space>
        </ActionColumn>
</Table>

@code {
    ITable table;
    int _pageSize = 8;
    List<ImageEntity> images = new();

    protected override async Task OnInitializedAsync()
    {
        images.Add(new ImageEntity
            {
                Id = "11111111",
                Name = "test.jpg",
                Tags = "动物、自然、社会",
                Url = "https://baidu.com",
                Size = "10.8MB",
                UploadTime = "2022/4/1 0:28",
                LastModifyTime = "2022/4/1 0:34",
                Uploader = "Admin"
            });
    }
}