@page "/Cog"

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using ImageBed.Data.Entity
@using static ImageBed.Common.UnitNameGenerator

@inject MessageService _message

<Tabs DefaultActiveKey="1">
    <TabPane Key="1">
        <TabTemplate>
            <Space><Icon Type="cloud-upload" Width=25 Height=25/>上传与存储</Space>
        </TabTemplate>
        <ChildContent>
            <Form Model="@GlobalValues.appSetting" 
              LabelColSpan="8"
              WrapperColSpan="16"
              OnFinish="OnFinish" 
              OnFinishFailed="OnFinishFailed"
              Style="margin-top:80px;">
              <FormItem Label="图片尺寸限制">
                    <Tooltip Title="@("设置为 0 则不限制图片尺寸")">
                        <Space>
                            <SpaceItem>
                                <AntDesign.InputNumber Step="1" Min="0" Max="99999" @bind-Value="ImageMaxSize" />
                            </SpaceItem>
                            <SpaceItem>
                                MB
                            </SpaceItem>
                        </Space>
                        
                    </Tooltip>
                </FormItem>
                <FormItem Label="单次上传数量">
                    <Tooltip Title="@("设置为 0 则不限制单次上传图片数")">
                        <Space>
                            <SpaceItem>
                                <AntDesign.InputNumber Step="1" Min="0" Max="99999" @bind-Value="ImageMaxNum" />
                            </SpaceItem>
                            <SpaceItem>
                                张
                            </SpaceItem>
                        </Space>
                        
                    </Tooltip>
                </FormItem>
                <FormItem Label="重命名方式">
                    <Tooltip Title="@("若不开启重命名, 图片名冲突时将覆盖原图片")">
                        <Select @bind-Value="@renameFormat"
                                DefaultValue="@RenameFormat.MD5"
		                        TItemValue="RenameFormat"
                                TItem="string"
                                LabelInValue="true"
		                        Style="width: 200px;">
		                    <SelectOptions>
			                    <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.NONE" Label="不重命名 (不推荐)"/>
			                    <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.MD5" Label="MD5字符串 (32位)"/>
                                <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.TIME" Label="上传时间"/>
                                <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.TIMESTAMP" Label="上传时间戳"/>
                                <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.RANDOM_STRING" Label="随机字符串"/>
		                    </SelectOptions>
                        </Select>
                    </Tooltip>
                </FormItem>
                <FormItem Label="图片存储路径">
                    <Tooltip Title="@("相对路径, 目前不支持修改")">
                        <Input Style="width:200px;" @bind-Value="@imageDir"  />
                    </Tooltip>
                </FormItem>
                <FormItem WrapperColOffset="8" WrapperColSpan="16">
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        保 存
                    </Button>
                </FormItem>
            </Form>
        </ChildContent>
    </TabPane>
    <TabPane Key="2">
        <TabTemplate>
            <Space><Icon Type="fund-projection-screen" Width=25 Height=25/>仪表盘</Space>
        </TabTemplate>
        <ChildContent>
            <Form Model="@GlobalValues.appSetting" 
              LabelColSpan="8"
              WrapperColSpan="16"
              OnFinish="OnFinish" 
              OnFinishFailed="OnFinishFailed"
              Style="margin-top:80px;">
                <FormItem Label="实时刷新仪表盘">
                    <Tooltip Title="@("开启实时刷新将占用更多的资源")">
                        <RadioGroup @bind-Value="RefreshDashboardRealTime">
                            <Radio RadioButton Value="@true">是</Radio>
                            <Radio RadioButton Value="@false">否</Radio>
                        </RadioGroup>
                    </Tooltip>
                </FormItem>
                <FormItem Label="资源统计时间段">
                    <Tooltip Title="@($"系统将在 {RefreshStartTime}:00 ~ {RefreshStartTime + 6}:00 统计昨日的相关数据，建议设置在空闲时间段")">
                        <Space>
                            <SpaceItem>
                                <AntDesign.InputNumber Step="1" Min="0" Max="18" @bind-Value="RefreshStartTime" />
                            </SpaceItem>
                            <SpaceItem>
                                @($"~ {RefreshStartTime + 6}:00")
                            </SpaceItem>
                        </Space>
                        
                    </Tooltip>
                </FormItem>
                <FormItem WrapperColOffset="8" WrapperColSpan="16">
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        保 存
                    </Button>
                </FormItem>
            </Form>
        </ChildContent>
    </TabPane>
</Tabs>
