@page "/cog"

@using System.Text.Json;
@using ImageBed.Data.Entity
@using System.ComponentModel.DataAnnotations;
@using static ImageBed.Common.UnitNameGenerator

@inject MessageService _message


@if (spinning)
{
    <Spin Style="margin-top:200px; margin-left:50%;"/>
}
else
{
    <Tabs DefaultActiveKey="1">
        @if(imageConfig != null)
        {
            <TabPane Key="1">
                <TabTemplate>
                    <Space><Icon Type="cloud-upload" Width=25 Height=25/>上传与存储</Space>
                </TabTemplate>
                <ChildContent>
                    <Form Model="@GlobalValues.appSetting" 
                      LabelColSpan="8"
                      WrapperColSpan="16"
                      OnFinish="OnFinish" 
                      OnFinishFailed="OnFinishFailed"
                      Style="margin-top:80px;">
                        <FormItem Label="大小限制">
                            <Tooltip Title="@("设置为 0 则不限制图片大小")">
                                <Space>
                                    <SpaceItem>
                                        <AntDesign.InputNumber Step="1" Min="0" Max="99999" @bind-Value=@imageConfig.MaxSize />
                                    </SpaceItem>
                                    <SpaceItem>
                                        MB
                                    </SpaceItem>
                                </Space>
                            </Tooltip>
                        </FormItem>
                        <FormItem Label="单次上传数量">
                            <Tooltip Title="@("设置为 0 则不限制单次上传图片数量")">
                                <Space>
                                    <SpaceItem>
                                        <AntDesign.InputNumber Step="1" Min="0" Max="99999" @bind-Value=@imageConfig.MaxNum />
                                    </SpaceItem>
                                    <SpaceItem>
                                        张
                                    </SpaceItem>
                                </Space>
                            </Tooltip>
                        </FormItem>
                        <FormItem Label="重命名格式">
                            <Tooltip Title="@("若不开启重命名, 图片名冲突时将覆盖原图片")">
                                <Select @bind-Value=@imageConfig.RenameFormat
                                        DefaultValue="@RenameFormat.MD5"
		                                TItemValue="RenameFormat"
                                        TItem="string"
                                        LabelInValue="true"
		                                Style="width: 200px;">
		                            <SelectOptions>
			                            <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.NONE" Label="不重命名 (不推荐)"/>
			                            <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.MD5" Label="MD5字符串 (32位)"/>
                                        <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.TIME" Label="上传时间"/>
                                        <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.TIMESTAMP" Label="上传时间戳"/>
                                        <SelectOption TItemValue="RenameFormat" TItem="string" Value="@RenameFormat.RANDOM_STRING" Label="随机字符串"/>
		                            </SelectOptions>
                                </Select>
                            </Tooltip>
                        </FormItem>
                        <FormItem Label="链接格式">
                            <Select @bind-Value=@imageConfig.UrlFormat
                                    DefaultValue="@UrlFormat.Markdown"
		                            TItemValue="UrlFormat"
                                    TItem="string"
                                    LabelInValue="true"
		                            Style="width: 200px;">
		                        <SelectOptions>
			                        <SelectOption TItemValue="UrlFormat" TItem="string" Value="@UrlFormat.Markdown" Label="Markdown"/>
			                        <SelectOption TItemValue="UrlFormat" TItem="string" Value="@UrlFormat.Html" Label="Html"/>
                                    <SelectOption TItemValue="UrlFormat" TItem="string" Value="@UrlFormat.Url" Label="Url"/>
                                    <SelectOption TItemValue="UrlFormat" TItem="string" Value="@UrlFormat.UBB" Label="UBB"/>
		                        </SelectOptions>
                            </Select>
                        </FormItem>
                        <FormItem Label="上传格式">
                            <CheckboxGroup Options="@imageFormatOptions" @bind-Value=@imageFormatChoose OnChange="SetImageFormat" />
                        </FormItem>
                        <FormItem WrapperColOffset="8" WrapperColSpan="16">
                            <Button Type="@ButtonType.Primary" HtmlType="submit">
                                保 存
                            </Button>
                        </FormItem>
                    </Form>
                </ChildContent>
            </TabPane>
        }

        @if(recordConfig != null)
        {
            <TabPane Key="2">
                <TabTemplate>
                    <Space><Icon Type="dashboard" Width=25 Height=25/>仪表盘</Space>
                </TabTemplate>
                <ChildContent>
                    <Form Model="@GlobalValues.appSetting" 
                      LabelColSpan="8"
                      WrapperColSpan="16"
                      OnFinish="OnFinish" 
                      OnFinishFailed="OnFinishFailed"
                      Style="margin-top:80px;">
                        <FormItem Label="实时刷新">
                            <RadioGroup @bind-Value=@recordConfig.RefreshRealTime>
                                <Radio RadioButton Value="@true">开启</Radio>
                                <Radio RadioButton Value="@false">关闭</Radio>
                            </RadioGroup>
                        </FormItem>
                        <FormItem Label="资源统计时间段">
                            <Tooltip Title="@($"系统将在 {recordConfig.RefreshStartTime}:00 ~ {recordConfig.RefreshStartTime + 6}:00 统计昨日的上传数据")">
                                <Space>
                                    <SpaceItem>
                                        <AntDesign.InputNumber Step="1" Min="0" Max="18" @bind-Value=@recordConfig.RefreshStartTime />
                                    </SpaceItem>
                                    <SpaceItem>
                                        @($"~ {recordConfig.RefreshStartTime + 6}:00")
                                    </SpaceItem>
                                </Space> 
                            </Tooltip>
                        </FormItem>
                        <FormItem WrapperColOffset="8" WrapperColSpan="16">
                            <Button Type="@ButtonType.Primary" HtmlType="submit">
                                保 存
                            </Button>
                        </FormItem>
                    </Form>
                </ChildContent>
            </TabPane>
        }

        @if(picsConfig != null)
        {
            <TabPane Key="3">
                <TabTemplate>
                        <Space><Icon Type="picture" Width=25 Height=25/>图 库</Space>
                </TabTemplate>
                <ChildContent>
                    <Form Model="@GlobalValues.appSetting" 
                      LabelColSpan="8"
                      WrapperColSpan="16"
                      OnFinish="OnFinish" 
                      OnFinishFailed="OnFinishFailed"
                      Style="margin-top:80px;">
                        <FormItem Label="默认视图">
                            <RadioGroup @bind-Value=@picsConfig.ViewFormat>
                                    <Radio RadioButton Value="@ViewFormat.List">表 格</Radio>
                                    <Radio RadioButton Value="@ViewFormat.Card">卡 片</Radio>
                            </RadioGroup>
                        </FormItem>
                        <FormItem WrapperColOffset="8" WrapperColSpan="16">
                            <Button Type="@ButtonType.Primary" HtmlType="submit">
                                保 存
                            </Button>
                        </FormItem>
                    </Form>
                </ChildContent>
            </TabPane>
        }
        
        @if(notifyConfig != null)
        {
            <TabPane Key="4">
                <TabTemplate>
                    <Space><Icon Type="bell" Width=25 Height=25/>通 知</Space>
                </TabTemplate>
                <ChildContent>
                    <Form Model="@GlobalValues.appSetting" 
                      LabelColSpan="8"
                      WrapperColSpan="16"
                      OnFinish="OnFinish" 
                      OnFinishFailed="OnFinishFailed"
                      Style="margin-top:80px;">
                        <FormItem Label="发件人邮箱">
                            <Input Style="width:200px;" @bind-Value="@notifyConfig.Email.From"/>
                        </FormItem>
                        <FormItem Label="授权码">
                            <Space>
                                <SpaceItem>
                                    <Input Style="width:200px;" @bind-Value=@notifyConfig.Email.Code/>
                                </SpaceItem>
                                <SpaceItem>
                                    <Tooltip Title=@("点击发送测试邮件")>
                                        <Button Type=@ButtonType.Primary Ghost Icon=@IconType.Outline.Api OnClick=@TestEmailConfig Loading=@emailTestRunning/>
                                    </Tooltip>
                                </SpaceItem>
                            </Space>
                        </FormItem>
                        <FormItem Label="收件人邮箱">
                            <Input Style="width:200px;" @bind-Value=@notifyConfig.Email.To/>
                        </FormItem>
                        <FormItem Label="每日统计">
                            <Tooltip Title="@("开启则系统每天会通过邮件发送昨日的数据")">
                                <RadioGroup @bind-Value=@notifyConfig.Condition.SysRefresh>
                                    <Radio RadioButton Value="@true">开启</Radio>
                                    <Radio RadioButton Value="@false">关闭</Radio>
                                </RadioGroup>
                            </Tooltip>
                        </FormItem>
                        <FormItem Label="存储空间预警">
                            <Tooltip Title="@("图片存储占用超过限制时发送邮件")">
                                <Space>
                                    <SpaceItem>
                                        <AntDesign.InputNumber Step="1" Min="0" Max="99999" @bind-Value=@notifyConfig.Condition.OverDiskOccupy />
                                    </SpaceItem>
                                    <SpaceItem>
                                        MB
                                    </SpaceItem>
                                </Space>
                        
                            </Tooltip>
                        </FormItem>
                        <FormItem Label="内存占用预警">
                            <Tooltip Title="@("系统运行内存占用超出限制时发送邮件")">
                                <Space>
                                    <SpaceItem>
                                        <AntDesign.InputNumber Step="1" Min="0" Max="99999" @bind-Value=@notifyConfig.Condition.OverMemory />
                                    </SpaceItem>
                                    <SpaceItem>
                                        MB
                                    </SpaceItem>
                                </Space>
                        
                            </Tooltip>
                        </FormItem>
                        <FormItem Label="图片数量预警">
                            <Tooltip Title="@("托管图片数量超出限制时发送邮件")">
                                <Space>
                                    <SpaceItem>
                                        <AntDesign.InputNumber Step="1" Min="0" Max="99999" @bind-Value=@notifyConfig.Condition.OverNum />
                                    </SpaceItem>
                                    <SpaceItem>
                                        张
                                    </SpaceItem>
                                </Space>
                            </Tooltip>
                        </FormItem>
                        <FormItem WrapperColOffset="8" WrapperColSpan="16">
                            <Button Type="@ButtonType.Primary" HtmlType="submit">
                                保 存
                            </Button>
                        </FormItem>
                    </Form>
                </ChildContent>
            </TabPane>
        }
        
        @if(updateConfig != null)
        {
            <TabPane Key="5">
                <TabTemplate>
                    <Space><Icon Type="sync" Width=25 Height=25/>更 新</Space>
                </TabTemplate>
                <ChildContent>
                    <Form Model="@GlobalValues.appSetting" 
                      LabelColSpan="8"
                      WrapperColSpan="16"
                      OnFinish="OnFinish" 
                      OnFinishFailed="OnFinishFailed"
                      Style="margin-top:80px;">
                        <FormItem Label="版本号">
                            @UpdateHelper.GetLocalVersion()
                        </FormItem>
                        <FormItem Label="自动更新">
                            <RadioGroup @bind-Value=@updateConfig.AutoUpdate>
                                <Radio RadioButton Value="@true">开启</Radio>
                                <Radio RadioButton Value="@false">关闭</Radio>
                            </RadioGroup>
                        </FormItem>
                        <FormItem Label="更新模式">
                            <Space>
                                <SpaceItem>
                                    <Tooltip Title="@("全量更新会删除全部文件, 增量更新则会保留数据")">
                                        <Select @bind-Value=@updateConfig.Pattern
                                                DefaultValue="@UpdatePattern.INCREMENT"
		                                        TItemValue="UpdatePattern"
                                                TItem="string"
                                                LabelInValue="true"
		                                        Style="width: 150px;">
		                                    <SelectOptions>
			                                    <SelectOption TItemValue="UpdatePattern" TItem="string" Value="@UpdatePattern.INCREMENT" Label="增量更新"/>
			                                    <SelectOption TItemValue="UpdatePattern" TItem="string" Value="@UpdatePattern.FULL" Label="全量更新"/>
		                                    </SelectOptions>
                                        </Select>
                                    </Tooltip>
                                </SpaceItem>
                                <SpaceItem>
                                    <Tooltip Title=@("检查更新") Placement="Placement.Right">
                                        <Button Type=@ButtonType.Primary
                                                Icon=@IconType.Outline.Sync
                                                OnClick=@(async () => {await CheckUpdate();})/>
                                    </Tooltip>
                                </SpaceItem>
                            </Space>
                        </FormItem>
                        <FormItem Label="更新接口">
                            <Tooltip Title="@("该接口用于检查是否有更新")">
                                <Input Style="width:400px;" @bind-Value=@updateConfig.CheckUrl/>
                            </Tooltip>
                        </FormItem>
                        <FormItem Label="下载接口">
                            <Tooltip Title="@("该接口用于下载更新文件")">
                                <Input Style="width:400px;" @bind-Value=@updateConfig.DownloadUrl/>
                            </Tooltip>
                        </FormItem>
                        <FormItem WrapperColOffset="8" WrapperColSpan="16">
                            <Button Type="@ButtonType.Primary" HtmlType="submit">
                                保 存
                            </Button>
                        </FormItem>
                    </Form>
                </ChildContent>
            </TabPane>
        }
        
        @if(footerConfig != null)
        {
            <TabPane Key="6">
                <TabTemplate>
                    <Space><Icon Type="appstore" Width=25 Height=25/>其 它</Space>
                </TabTemplate>
                <ChildContent>
                    <Form Model="@GlobalValues.appSetting" 
                      LabelColSpan="8"
                      WrapperColSpan="16"
                      OnFinish="OnFinish" 
                      OnFinishFailed="OnFinishFailed"
                      Style="margin-top:80px;">
                        <FormItem Label="页 脚">
                            <Tooltip Title="@("填写备案号等信息")">
                                <Input Style="width:400px;" @bind-Value=@footerConfig.Content/>
                            </Tooltip>
                        </FormItem>
                        <FormItem Label="公安备案号">
                            <Tooltip Title="@("填写公安联网备案号")">
                                <Input Style="width:400px;" @bind-Value=@footerConfig.RegisterNumber/>
                            </Tooltip>
                        </FormItem>
                        <FormItem WrapperColOffset="8" WrapperColSpan="16">
                            <Button Type="@ButtonType.Primary" HtmlType="submit">
                                保 存
                            </Button>
                        </FormItem>
                    </Form>
                </ChildContent>
            </TabPane>
        }
    </Tabs>
}

<Modal Title="@("应用更新")"
       Visible=@updateEnsureModelVisibile
       OnOk=@UpdateSoftware
       OnCancel=@CancelUpdate>
    <p>@updateMessage</p>
</Modal>

