@page "/Pics"

@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json;
@using ImageBed.Data.Access
@using ImageBed.Data.Entity
@using System.Net

@inject IJSRuntime JS
@inject MessageService _message
@inject NotificationService _notice
@inject NavigationManager NavigationManager

<Space>
    <SpaceItem>
        <Tooltip Title=@("切换视图") Placement="Placement.Right">
            <Button Type="@ButtonType.Primary"
                Ghost
                Icon=@imageFormatChangeButtonIcon
                OnClick=@ChangeTableFormat/>
        </Tooltip>
    </SpaceItem>
    <SpaceItem>
        <Search Placeholder="Search what you want..." EnterButton="true" @bind-Value="searchText" Loading=@searching OnSearch=@OnSearch />
    </SpaceItem>
    @if((imagesShow.Length > 0) && (ImageViewFormat == ViewFormat.List))
    {
        if((imagesSelected?.Count() != imagesShow.Count()))
        {
            <SpaceItem><Button Type="@ButtonType.Primary" Ghost OnClick=@(() => { imagesSelected = imagesShow; })>全 选</Button></SpaceItem>
        }
        else
        {
            <SpaceItem><Button Type="@ButtonType.Primary" Danger Ghost OnClick=@(() => { imagesSelected = null; } )>全不选</Button></SpaceItem>
        }
    }
    <SpaceItem>
        <Upload Multiple
            Action="api/image"
            Accept=@($"{imageConfig.Format},.zip")
            ShowUploadList=false
            BeforeAllUploadAsync=@StartImport
            OnCompleted=@ImportFinished>
            <Button Type="@ButtonType.Primary" Ghost>导  入</Button>
        </Upload>
    </SpaceItem>
    @if ((imagesSelected != null ) && (imagesSelected.Any()) && (ImageViewFormat == ViewFormat.List))
    {
        <SpaceItem><Button Type="@ButtonType.Primary" Ghost OnClick=@ExportSelectedImages>导  出</Button></SpaceItem>
        <SpaceItem><Button Danger Ghost OnClick=@RemoveSelectedImages>删 除</Button></SpaceItem>
    }
</Space>
<br/>
<br />
<Spin Spinning=@spinning>
    @if(imagesShow.Length == 0)
    {
        <Empty Style="transform:translateY(100%);"></Empty>
    }
    else if(ImageViewFormat == ViewFormat.List)
    {
        <Table @ref="table"
               @bind-PageSize="pageSize"
               @bind-SelectedRows="@imagesSelected"
               TItem="ImageEntity"
               DataSource="@imagesShow"
               Style="width:100%;">
                    <Selection Key="@(context.Id?.ToString())" />
                    <Column @bind-Field="@context.Name" Align="@ColumnAlign.Center" Sortable>
                        <a href=@context.Url>@context.Name</a>
                    </Column>
                    <Column @bind-Field="@context.Dpi" Align="@ColumnAlign.Center" />
                    <Column @bind-Field="@context.Size" Align="@ColumnAlign.Center" Sortable 
                            SorterCompare="@((v1, v2) => 
                            {
                                double v1Size = UnitNameGenerator.ParseFileSize(v1 ?? "0");
                                double v2Size = UnitNameGenerator.ParseFileSize(v2 ?? "0");
                                if(v1Size > v2Size){ return 1; }
                                else if(v1Size < v2Size){ return -1; }
                                else{ return 0; }
                            })"/>
                    <Column @bind-Field="@context.UploadTime" Align="@ColumnAlign.Center" Sortable/>
                    <Column @bind-Field="@context.RequestNum" Align="@ColumnAlign.Center" Sortable/>
                    <Column @bind-Field="@context.Owner" Align="@ColumnAlign.Center" Sortable/>
                    <ActionColumn Align="@ColumnAlign.Center">
                        <Space>
                            <SpaceItem><Button Type="@ButtonType.Primary" Ghost OnClick="()=>{ _ = CopyUrlToClip(UnitNameGenerator.UrlBuild(imageConfig.UrlFormat, NavigationManager.BaseUri + context.Url));}">复 制</Button></SpaceItem>
                            <SpaceItem><Button Type="@ButtonType.Primary" Ghost OnClick="()=>{ _ = DownloadFile(NavigationManager.BaseUri + context.Url, context.Name);}">下 载</Button></SpaceItem>
                            <SpaceItem><Button Type="@ButtonType.Primary" Danger Ghost OnClick="()=>{ _ = RemoveImage(context); }">删 除</Button></SpaceItem>
                        </Space>
                    </ActionColumn>
        </Table>
    }
    else
    {
        <AntList Grid="grid" DataSource="@imagesShow" Style="overflow:scroll; overflow-x:hidden; height:100%; max-height:570px;" Id="imageCard">
            <ListItem>
                <Popover Placement="Placement.Right" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.ContextMenu})">
                    <ContentTemplate>
                        <Space Direction="DirectionVHType.Vertical">
                            <p>【名 称】@context.Name</p>
                            <p>【大 小】@context.Size</p>
                            <p>【分辨率】@context.Dpi</p>
                            <p>【来 源】@context.Owner</p>
                            <p>【请求次数】@context.RequestNum</p>
                            <p>【上传时间】@context.UploadTime</p>
                            <Space>
                                <SpaceItem><Button Type="@ButtonType.Primary" Ghost OnClick="()=>{ _ = CopyUrlToClip(UnitNameGenerator.UrlBuild(imageConfig.UrlFormat, NavigationManager.BaseUri + context.Url));}">复 制</Button></SpaceItem>
                                <SpaceItem><Button Type="@ButtonType.Primary" Ghost OnClick="()=>{ _ = DownloadFile(NavigationManager.BaseUri + context.Url, context.Name);}">下 载</Button></SpaceItem>
                                <SpaceItem><Button Type="@ButtonType.Primary" Danger Ghost OnClick="()=>{ _ = RemoveImage(context); }">删 除</Button></SpaceItem>
                            </Space>
                        </Space>
                    </ContentTemplate>
                    <ChildContent>
                        <img alt="Cover" src=@($"api/image/thumbnails_{context.Name}") class="zoomImage" style="border-radius:10px; cursor:pointer;" loading="lazy"/>
                    </ChildContent>
                </Popover>
            </ListItem>
        </AntList>
    }
</Spin>
@code
{
    RenderFragment actionSetting(Action clickAction) =>@<Icon Type="copy" OnClick="@clickAction" />;
    RenderFragment actionEdit(Action clickAction) =>@<Icon Type="download" OnClick="@clickAction" />;
    RenderFragment actionEllipsis(Action clickAction) => @<Icon Type="delete" OnClick="@clickAction" />;
}

<style>
    #imageCard::-webkit-scrollbar {
        display: none;
    }

    .zoomImage{
        width:100%;
        border-radius:10px;
        background-color:yellow;
    }

    .zoomImage:hover{
        cursor:pointer;
        box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
        border-color: #eee;
        transition: all .2s ease-in-out;
    }
</style>